/*

- No existen propiedades para imágenes en CSS

1 - Imágenes responsive. En el archivo base se recomienda poner esta regla.

    img {
        max-width: 100%;
    }

2 - Las imágenes por defecto son elementos inline, esto causa un espacio por debajo debido a su line-height, se puede solucionar de dos formas.
    - Dando un line-height: 0; al contenedor
    - Un display: block; a la imagen

3 - Centrado horizontal

Elemento de bloque:
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

Elemento de línea
    img {
        text-align: center;
    }

4 - Centrado vertical
    - Flexbox (La mejor opción)
    - Vertical-align: middle; A la imagen y al texto.


*/

.img1,
.img2 {
    max-width: 100%;
    display: block;
    transition: 1s;
}

.img1 {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: left;
}

.img1:hover {
    object-position: right;
    width: 300px;
    height: 500px;
}

.img2:hover {
    /* filter: blur(10px); */
    /* filter: brightness(0); */
    /* filter: contrast(2); */
    /* filter: drop-shadow(h-shadow vshadow blur (spread) color); */
    /* filter: drop-shadow(10px 10px 5px black); */
    /* filter: grayscale(1); */
    /* filter: hue-rotate(240deg); */
    /* filter: invert(1); */
    /* filter: opacity(.5); */
    /* filter: saturate(0); */
    filter: sepia(1);
}